---
import BaseLayout from "../BaseLayout.astro";

import Contact from "../../components/standard/Contact.astro";
import WorkExperience from "../../components/standard/WorkExperience.astro";
import Education from "../../components/standard/Education.astro";
import Certification from "../../components/standard/Certification.astro";
import Skill from "../../components/standard/Skill.astro";

interface Props {
  frontmatter: CV;
}

const { frontmatter } = Astro.props as Props;
---

<BaseLayout
  title={`CV | ${frontmatter.name}`}
  className="bg-gray-50 text-slate-600 lg:p-8 md:w-3/4 text-lg md:text-xl xl:w-3/5 xl:text-2xl mx-auto"
>
  <section class="flex flex-col gap-4 p-4">
    <!-- Navigation (Print) -->
    <section
      class="flex flex-row items-center justify-between gap-2 py-2 print:hidden"
    >
      <h1>About Graduates ({frontmatter.name})</h1>
      <button
        class="flex flex-row gap-2 rounded border border-red-300 py-2 px-4 text-red-400 transition-colors duration-300 hover:bg-red-400 hover:text-white"
        onclick="window.print();">Print Me</button
      >
    </section>

    <!-- Identity -->
    <section id="identity" class="flex flex-col items-center gap-2 text-center">
      <img
        src={frontmatter.avatarUrl}
        class="w-32 rounded-full border-2 border-black shadow-md shadow-black print:grayscale"
      />
      <p class="text-xl font-bold print:text-base">{frontmatter.name}</p>
      <p class="text-base">{frontmatter.pronouns}</p>
      <p class="flex flex-row gap-2">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 print:h-4 print:w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
          </svg>
        </span>
        <span class="text-base">{frontmatter.location}</span>
      </p>
    </section>

    <!-- Contact -->
    <section id="about-me" class="text-left">
      <p
        class="mb-4 border-b-2 pb-2 text-xl font-bold uppercase print:text-base"
      >
        Contact
      </p>
      <ul
        class="flex flex-col gap-2 text-base print:grid print:grid-cols-2 sm:grid sm:grid-cols-2 md:px-8 md:text-lg lg:px-16"
      >
        {
          frontmatter.contacts?.map((contact) => (
            <li>
              <Contact contact={contact} />
            </li>
          ))
        }
      </ul>
    </section>

    <!-- About Me -->
    {
      frontmatter.aboutMe && (
        <section id="about-me" class="text-left text-base">
          <p class="mb-4 border-b-2 pb-2 text-xl font-bold uppercase print:text-base">
            About Me
          </p>
          <p>{frontmatter.aboutMe}</p>
        </section>
      )
    }

    <!-- Work Experience -->
    {
      frontmatter.workExperiences && (
        <section id="work-experience" class="text-left">
          <p class="mb-4 border-b-2 pb-2 text-xl font-bold uppercase print:text-base">
            Work Experience
          </p>

          <div class="flex flex-col gap-4">
            {frontmatter.workExperiences?.map((workExperience) => (
              <WorkExperience workExperience={workExperience} />
            ))}
          </div>
        </section>
      )
    }

    <!-- Educations -->
    <section id="education" class="text-left">
      <p
        class="mb-4 border-b-2 pb-2 text-xl font-bold uppercase print:text-base"
      >
        Education
      </p>

      <div class="flex flex-col gap-4">
        {
          frontmatter.educations?.map((education) => (
            <Education education={education} />
          ))
        }
      </div>
    </section>

    <!-- Certification -->
    <section id="certification" class="text-left">
      <p
        class="mb-4 border-b-2 pb-2 text-xl font-bold uppercase print:text-base"
      >
        Certification
      </p>
      <div class="flex flex-col gap-4">
        {
          frontmatter.certifications?.map((certification) => (
            <Certification certification={certification} />
          ))
        }
      </div>
    </section>

    <!-- Skills -->
    <section id="skills" class="text-left">
      <p
        class="mb-4 border-b-2 pb-2 text-xl font-bold uppercase print:text-base"
      >
        Skills
      </p>
      <div class="grid grid-cols-1 print:grid print:grid-cols-2 md:grid-cols-2">
        {frontmatter.skills?.map((skill) => <Skill skill={skill} />)}
      </div>
    </section>
  </section>
  <slot />
</BaseLayout>
