---
import Discord from "./contacts/Discord.astro";
import Email from "./contacts/Email.astro";
import Telegram from "./contacts/Telegram.astro";

interface Props {
  contact: Contact;
}

const { contact } = Astro.props as Props;
---

{
  () => {
    switch (contact.protocol) {
      case "discord":
        return (
          <li>
            <Discord>{contact.value}</Discord>
          </li>
        );
      case "email":
        return <Email>{contact.value}</Email>;
      case "telegram":
        return <Telegram>{contact.value}</Telegram>;
      default:
        return (
          <li>
            {contact.protocol} - {contact.value}
          </li>
        );
    }
  }
}
